html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: small;
}

table {
    width: 100%;
    background-color: rgb(220, 220, 220);
    border-radius: 7px;
    border-collapse: none;
}

td {
    vertical-align: center;
    text-align: left;
    padding: 0.3em;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgb(125, 125, 125);
}

th {
    font-weight: bold;
    vertical-align: center;
    text-align: left;
    padding: 0.3em;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgb(125, 125, 125);
}

#map {
  bottom: 0; 
    width: 100%;
    height: 100%;
}

.title-popup {
    width: 100%;
    text-align: center;
    font-size: medium;
}

.ol-popup {
    left: -50%;
    display: none;
    position: relative;
    background-color: rgb(230, 230, 230);
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.2));
    padding: 10px;
    border-radius: 10px;
    border: 1px solid rgb(125, 125, 125);
    height: auto;
    width: auto;
    min-width: 150px;
    max-height: 280px;
    overflow: auto;
}

.ol-popup::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
}

.ol-popup::-webkit-scrollbar-track {
    background-color: rgb(170, 169, 169);
    border-radius: 10px;
}

.ol-popup::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    border: 1px solid rgb(125, 125, 125);
}

.ol-popup-closer {
    text-decoration: none;
    position: sticky;
    top: 0px;
    right: 0px;
    margin-left: 95%;
}

.ol-popup-closer:after {
    content: "X";
}

.ol-attribution a {
    text-decoration: none;
    color: #666;
    font-family: sans-serif;
    font-size: 100%;
}

.layer-switcher .panel {
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgb(125, 125, 125);
}

.layer-switcher {
    top: 0.5em;
    right: 0.5em;
    text-align: left;
}

#popup-content>ul>li:nth-child(even) {}

#popup-content ul {
    padding-left: 0;
}

#popup-content li {
    margin-bottom: 0.25em;
}




.ol-control button {
    background-color: #f8f8f8 !important;
    color: #000000 !important;
    border-radius: 0px !important;
}

.ol-zoom,
.ol-rotate-reset,
.geolocate,
.gcd-gl-control,
.ol-control {
    background-color: rgba(255, 255, 255, .4) !important;
    padding: 3px !important;

}

.ol-scale-line {
    background: none !important;
    border-radius: 4px;
    position: absolute
}

.ol-scale-line-inner {
    border: 2px solid #f8f8f8 !important;
    border-top: none !important;
    background: rgba(255, 255, 255, 0.5) !important;
    color: black !important;
}

.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}

.tooltip-measure {
    opacity: 1;
    font-weight: bold;
}

.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
}

.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.5);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}

.tooltip-static:before {
    border-top-color: #ffcc33;
}

.measure-control {
    top: 65px;
    left: .5em;
}

.ol-touch .measure-control {
    top: 80px;
}